*{
    box-sizing: border-box;
}
*::before,
*::after{
    box-sizing: border-box;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.woff') format('woff');
    font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.woff') format('woff');
    font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-SemiBold.woff') format('woff');
    font-display: swap;
	font-weight: 600;
	font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.woff') format('woff');
    font-display: swap;
	font-weight: 700;
	font-style: normal;
}

:root{
    --font-family: 'Poppins',sans-serif;
}


body{
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
}

img{
    max-width: 100%;
}


.list-reset{
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset{
    padding: 0;
    border: none;
    font-family: var(--font-family);
    background-color: transparent;
    cursor: pointer;
}

.container{
    max-width:1140px;
    padding: 0 15px;
    margin: 0 auto;
}

.link{
    display:inline-flex;
    text-indent: 14px;
    border-bottom: 1px solid currentColor;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    text-decoration-line: underline;
    text-decoration: none;
    color:  #d4d6d4;
    transition: color 0.3s ease-in-out;
}

.link svg{
    margin-bottom: 3px;
    width: 17px;
    height: 17px;
    fill:currentColor;
}

.link:hover{
    color: #ffd723
    
}

.services-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #4D533C;
}

.link span{
    text-indent: 10px;

}

.header{
    position: absolute;
    padding:24px 0;
    left:0;
    top:0;
    width:100%;
}

.header-container{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.burger {
	--offset-horizontal: 11px;
	--offset-vertical: 14px;
	position: relative;
	border-radius: 100%;
	padding: var(--offset-vertical) var(--offset);
	width: 40px;
	height: 40px;
	background-color: #f5f6f7;
}

.burger-line {
	position: absolute;
	left: 50%;
	top: var(--offset-vertical);
	display: inline-block;
	width: calc(100% - (var(--offset-horizontal) * 2));
	height: 2px;
	background-color: #000;
	transform: translateX(-50%);
}

.burger-line:nth-child(2) {
	top: calc(var(--offset-vertical) + 6px);
}

.burger-line:nth-child(3) {
	top: calc(var(--offset-vertical) + 12px);
}


.hero {
	padding-top: 189px;
	padding-bottom: 100px;
	min-height: 811px;
	background-image: url("../img/hero-bg.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.hero-content {
	max-width: 616px;
	color: #fff;
}

.hero-subtitle {
	display: inline-block;
	margin-bottom: 22px;
	font-size: 14px;
	line-height: 21px;
}


.hero-title {
	margin: 0;
	margin-bottom: 24px;
	font-weight: 700;
	font-size: 60px;
	line-height: 74px;
}

.hero-descr {
	margin: 0;
	margin-bottom: 45px;
	font-size: 16px;
	line-height: 26px;
}

.hero-link {
	color: #FFD723;
}

.service{
	margin-bottom: -180px;
	padding-top: 150px;
	padding-bottom: 150px;
}

.services-title{
	margin: 0;
	margin-bottom: 60px;
	max-width: 606px;
}

.services-list{
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(4, 1fr);
}

.services-subtitle{
	margin: 0;
	margin-bottom: 20px;
	max-width: 183px;
	font-weight: 500;
	font-size: 24px;
	line-height: 34px;
	text-transform: uppercase;
	color: #4D533C;
}

.services-descr{
	margin: 0;
	margin-bottom: 56px;
	max-width: 194px;
	font-weight: 500;
	font-size: 14px;
	line-height: 26px;
	color: rgba(33, 56, 66, 0.6);
}

.services-item{
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

.services-link{
	margin-bottom: 0;
	margin-top: auto;
}

.get-started {
	position: relative;
	top: 180px;
	padding: 70px 0;
	width: 88%;
	box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
	background-color: #fafafa;
}

.get-started-title {
	margin: 0;
	margin-bottom: 50px;
	max-width: 822px;
	font-weight: 700;
	font-size: 60px;
	line-height: 74px;
	color: #4D533C;
}


.get-started-link{
    text-transform: uppercase;
}

.footer-top{
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px solid #5D6544;;
	padding-bottom: 52px;
}

.footer-midle{
	--grid-gap:70px;
	display:grid;
	gap: var(--grid-gap);
	grid-template-columns: repeat(4, 1fr);
	padding: 60px 0;
	border-bottom: 1px solid #5D6544;;
}

.footer-contacts-item:not(:last-child){
	margin-right: 128px;
}

.footer {
	padding-top: 300px;
	color: #fff;
	background-image: url("../img/footer-bg.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.footer-contacts-text{
	display:block;
	font-size: 16px;
	margin-bottom: 8px;
	line-height: 40px;
	color: #B6C197;
}

.footer-contacts-value{
	display: inline-block;
	font-weight: 700;
	font-size: 16px;
	line-height: 40px;
	color: #fff;
	text-decoration: none;
	font-style: normal;

}

.footer-column:last-child{
	position: relative;
}

.footer-column:last-child::before {
	content: "";
	position: absolute;
	top: 0;
	left: calc(-1 * (var(--grid-gap)));
	width: 1px;
	height: 100%;
	background-color: #5D6544;
}

.footer-title{
	margin: 0;
	font-weight: 600;
	margin-bottom: 21px;
	font-size: 16px;
	line-height: 38px;
	text-transform: uppercase;
	color: #FFFFFF;
}
.footer-link{
	font-size: 16px;
	line-height: 40px;
	color: #B6C197;
	text-decoration: none;
	display:inline-block;
}

.footer-text{
	margin: 0;
	font-size: 16px;
	line-height: 26px;
	color: #B6C197;
	margin-bottom: 23px;
}

.footer-mail{
	display: inline-block;
	margin-bottom: 24px;
	font-size: 24px;
	line-height: 38px;
	/* identical to box height, or 158% */
	font-weight: 700;
	color: #FFFFFF;
}

.social-item:not(:last-child){
	margin-right: 11px;
}

.social-link {
	display: block;
	border-radius: 100%;
	width: 33px;
	height: 33px;
	background-color: #8a9274;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 30px auto;
	opacity: 0.4;
	transition: opacity 0.3s ease-in-out;
}

.social-link:hover{
	opacity: 1;
}

.social{
	display:flex;
	align-items: center;
}

.social-link-fb{
	background-image: url("../img/facebook.svg");
}

.social-link-tw{
	background-image: url("../img/twitter.svg");
}

.social-link-g{
	background-image: url("../img/google.svg");
}

.social-link-in{
	background-image: url("../img/linkedin.svg");
}

.copyright{
	font-size: 14px;
	line-height: 21px;
	color: #B5C096;
}

.footer-bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 24px 0;
}

@media(max-width:992px){
	.services-list{
	gap: 50px;
	grid-template-columns: repeat(2, 1fr);
	}
	.services-subtitle{
		max-width:none;
	}
	.services-descr{
		max-width:none;
	}

	.footer-middle{
		grid-template-columns: repeat(4,1fr);
	}
	.footer-column:last-child::before{
		display:none;
	}
}

@media(max-width:768px){
	.get-started-title{
		font-style: 55px;
		line-height: 65px;
	}
}

@media(max-width:576px){
	.get-started-title{
		font-style: 42px;
		line-height: 54px;
	}
	.footer-midle {
		--grid-gap: 40px;
		grid-template-columns: repeat(1, 1fr);
	}

	.hero-title {
		font-size: 50px;
		line-height: 65px;
	}
	.service{
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.footer-bottom{
		flex-direction: column;
	}
}

@media(max-width:375px){
	.footer-mail{
		font-style: 20px;
	}
}